.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
  gap: 3rem 2.5rem;
  margin: 0 0 5rem;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1150px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 3rem 2rem;
  }
}

@media screen and (max-width: 1030px) {
  .place {
    grid-template-columns: 430px 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
    gap: 3rem 2rem;
  }
}

@media screen and (max-width: 910px) {
  .place {
    grid-template-columns: 400px 1fr;
    gap: 3rem 2rem;
  }
}

@media screen and (max-width: 890px) {
  .place {
    grid-template-columns: 340px 1fr;
    gap: 3rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    gap: 3rem 1.75rem;
    margin: 0 0 4.5rem;
  }
}

@media screen and (max-width: 650px) {
  .place {
    grid-template-columns: minmax(min-content, 650px);
    margin: 0 0 3.1rem;
    gap: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .place {
    grid-template-columns: minmax(min-content, 450px);
    padding: 0 1rem 0;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: minmax(min-content, 320px);
    padding: 0;
  }
}